
<h5 >
	<%= @books.title %>
</h5>
<div class="container" >
	<embed
    src="<%= polymorphic_url(@books.pdf) %>#toolbar=0&navpanes=0&scrollbar=0"
    width="100%" height="750" />
</div>
<h1>Comments</h1>


<% @books.comments.each do |comment| %>
	<div class="well">
		<p><strong><%= comment.username %></strong>: <%= comment.body %></p>
	</div>
<% end %>



<h1>Add Comments</h1>
<%= form_for([@books, @books.comments.build], url: catagory_book_comments_path(@catagory.id,@books.id), html: { method: "POST" }) do |f| %>
	<p>
		<%= f.label :username %><br>
		<%= f.text_field(:username, {:class => "form-control"}) %>
	</p>
	<p>
		<%= f.label :body %><br>
		<%= f.text_field(:body, {:class => "form-control"}) %>
	</p>
	<p>
		
		<%= f.submit({:class => "btn btn-default"}) %>

	</p>
<% end %>